footer{
    border-top: solid 3px;
    padding-top: 10px;
}
body{
    background-color: white;
    color: black;
}
em{
    color:  darkred;
}
.Main-section{
    margin: 20px;
}
.Section {
    margin: 20px;
    border-top: solid 3px  gray;
}
.QA {
    margin-top: 10px;
    margin-bottom: 10px;
}
.Terminal-data{
    background-color: black;
    color: white;
    padding: 2px;
}
